.smlogo{
     margin-top: 15px!important;
}
.MuiAvatar-colorDefault {
    color: #fafafa;
    background-color: #bdbdbd;
    margin: auto!important;
}
.content{
    text-align: left;
    h4{
        color: #403F3F!important;
        font-weight: 500!important;
        font-size: 21px!important;
        padding-bottom: 20px!important;
    }
    h6{
        padding-bottom: 20px!important;
        font-size: 15px!important;
        line-height: 160%!important;
    }
}
.main_content{
     h4{
         font-size: 25px;
         font-weight: 800;
         color: #403F3F;
         margin-bottom: 20px;
     }
     h5{
         color: #000000;
         font-size: 20px;
         font-weight: 400;
         margin: 20px 0;
     }
}
.primary_btn{
    border-radius: 40px!important;
    background-color: #A093E5!important;
    padding: 0px 20px!important;
    margin: 0px 12px!important;
    font-weight: 500!important;
    font-size: 15px!important;
    color: #FFFFFF!important;
    letter-spacing: -0.01em!important;
    text-transform: capitalize!important;
}
.dark{
    border-color: #1E1D2B!important;
    border-radius: 40px!important;
    color: #1E1D2B!important;
    padding: 0px 20px!important;
    margin: 0px 12px!important;
    font-weight: 500!important;
    font-size: 15px!important;
    letter-spacing: -0.01em!important;
    text-transform: capitalize!important;
}
.last_content{
    margin: 15px 0;
    h6{
   font-weight: 500!important;
   font-size: 16px!important;
   line-height: 124%!important;
   letter-spacing: -0.03em!important;
   color: #16161A!important;
   margin-right: 20px!important;
    }
   span{
        font-weight: 300!important;
        font-size: 12px!important;
        line-height: 124%!important;
        letter-spacing: -0.03em!important;
        color: #16161A!important;
        }
        p{
            font-weight: 300!important;
            font-size: 13px!important;
            line-height: 160%!important;
            color: #252323!important;
        }
}
.sgn_text{
    font-weight: normal!important;
    font-size: 9px!important;
    line-height: 130%!important;
    color: #252323!important;
}
.MuiOutlinedInput-root{
    background: rgba(255, 255, 255, 0.5)!important;
    border: 1px solid #A5A5AA!important;
    box-sizing: border-box!important;
    border-radius: 16px!important;
    width: 100%!important;
}
.makeStyles-btn-7{
    margin: 15px 0!important;
background: #8663F4!important;
border-radius: 16px!important;
color: #FFFFFF!important;
}
.policy_text{
    h6{
    font-weight: normal!important;
    font-size: 13px!important;
    line-height: 18px!important;
    margin-bottom: 50px;
}
}
.copy_text{
    border-top: 2px solid rgb(61, 70, 61);
    h6{
    font-weight: normal!important;
font-size: 13px!important;
line-height: 18px!important;
color: #252323!important;
}
}